/* Head */
:root {
  --brand-color: #404bbf;
  --primary-white-color: #ffffff;
  --body-color: #434455;
  --classic-background-color: #f4f4fd;
  --footer-color: #2e2f42;
  --button-color: #4d5ae5;
  --primaty-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu li:last-child {
  margin-right: 0;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--body-color);
  padding: 24px 0;
}

.logo {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  text-decoration: none;
}

.studio-color {
  color: var(--footer-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
}

.list-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-link:hover,
.list-link:focus {
  color: var(--brand-color);
}

.logo-text {
  color: var(--button-color);
}

.list-information {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
  text-decoration: none;
}

.list-information:hover,
.list-information:focus {
  color: var(--brand-color);
}

.pages-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}

.link:hover,
.link:focus {
  color: var(--brand-color);
}

address {
  font-style: normal;
}

/* Section 1 */
.section-one {
  background-color: var(--footer-color);
  padding: 188px 0;
}

.section-title-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  max-width: 496px;
}

.section-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.section-button:hover,
.section-button:focus {
  background-color: var(--brand-color);
}

/* Section 2 */
.section-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.list li:first-child {
  width: calc((100% - 72px) / 4);
}

.list-title {
  margin-bottom: 8px;
}

.list li:nth-child(2),
.list li:nth-child(3),
.list li:nth-child(4) {
  width: calc((100% - 72px) / 4);
}

/* Section 3 */
.section-three {
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;
}

.list li:first-child {
  width: calc((100% - 48px) / 3);
}

.list li:nth-child(2),
.list li:nth-child(3) {
  width: calc((100% - 48px) / 3);
}

.section-team-card {
  background-color: var(--primary-white-color);
}

/* Section 4 */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--body-color);
  margin-bottom: 72px;
}
.section-four {
  background-color: var(--classic-background-color);
  color: var(--footer-color);
  padding: 120px 0;
}

.section-four ul {
  list-style: none;
  background-color: var(--primary-white-color);
}

.section-four h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}

.section-four p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
}

.list li:first-child {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.list li:nth-child(2),
.list li:nth-child(3),
.list li:nth-child(4) {
  width: calc((100% - 72px) / 4);
}

.list-item-container {
  padding: 32px 0;
}

.list-item-container h3,
.list-item-container p {
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
  color: var(--classic-background-color);
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer p {
  max-width: 264px;
}

.footer-logo {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  text-decoration: none;
}

.footer-logo span {
  color: var(--classic-background-color);
}

.footer-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--classic-background-color);
}
/* Portfolio css*/
/* Main*/
.filters-button {
  font-family: var(--primaty-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: var(--classic-background-color);
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
}

.section-principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}

.cadr-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
